<div class="w3-container  w3-blue w3-card" style="margin:10px;">



    <div ng-repeat='item in items' class=" w3-card-4 w3-white w3-animate-zoom" style="width:50%; margin:10px ;" >

          <div class="w3-center" style="padding:0px;margin:0px;">

          <header style="margin:0px;">
          <div>
            {{$index+1}}.      {{item.name}} <br>CODE : ({{item.short_name}})

          </div>


          </header>




            <div class="w3-card w3-light-grey">

              <center><h4 style="text-decoration: underline">Description</h4></center>

                {{item.description}}
            </div>
          </div>

    <footer><button ng-click="onRemove({index:$index})" class="w3-button w3-block w3-black">X</button></footer>
</div>
</div>
