<!doctype html>
<html lang="en" ng-app='NarrowItDownApp'>
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="styles/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"> </script>
    <script src="app.js"> </script>

  </head>
<body class="w3-blue">
   <div class="w3-container" ng-controller='NarrowItDownController as ctrl'>
    <h1 style="color:white">Narrow Down Your Chinese Menu Choice</h1>



    <form class="w3-container w3-white w3-card-4" >

      <p>
      <label class="w3-text-blue"><b><h4>Enter search item :<h4></b></label>
      <input class="w3-input w3-border" type="text" placeholder="search term"  ng-model='ctrl.searchTerm'></p>
      <p>

      <p>
      <button class="w3-btn w3-blue" ng-click='ctrl.getItems(ctrl.searchTerm)'  >Narrow it Down For Me!!</button></p>
    </form>


<br>
<span style="color:red">   {{ctrl.msg}}       </span>
<br>
<div class='container'>
<found-items
items='ctrl.found'
on-remove='ctrl.remove()'
></found-items>
</div>

</div>





</html>
